.resume{
    min-height: 100vh;
    background-color: antiquewhite;
    background-image: url(https://wallpapercave.com/wp/wp5594870.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

.projects{
    display: grid;
    grid-template: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 5px;
    column-gap: 20px;
    row-gap: 20px;
    grid: 15rem 15rem/ 15rem 15rem 15rem;
}
.project1,
.project2,
.project3,
.project4,
.project5,
.project6{
    background-color: transparent;
    filter:blur(1px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(1px);
    -webkit-filter:blur(1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 20px 20px 20px 20px rgba(2, 2, 3, 0.1);
}
.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover,
.project6:hover {
    background-color: rgba(189,202,219,255);
    filter:blur(1px);
    -moz-filter:blur(0.5px);
    -webkit-filter:blur(0.5px);
    display: flex;
    border-radius: 10px;
}
.para{
    margin: 20px;
}