.resume{
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

.projects{
    display: grid;
    grid-template: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 5px;
    column-gap: 20px;
    row-gap: 20px;
    grid: 15rem 15rem/ 15rem 15rem 15rem;
}
.project1,
.project2,
.project3,
.project4,
.project5,
.project6{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow);
}
.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover,
.project6:hover {
    background-color: bisque;
}