.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #d2b9b2;
    background-image: url(../../assets/aesthetic-anime-pixelated-background-bnuuk8wf00lrrcvf.gif);
    background-repeat: no-repeat;
    background-size: cover;
    row-gap: 5px;
}
img{
   width: 200px;
    margin: 1px auto;
    margin-bottom: 0;
    max-width: 100px;
}

.home__page{
border: 3px black solid;
border-radius: 50%;
}
.home__socials{
display: flex;
column-gap: 1.75rem;
justify-content: center;

}
button{
   box-shadow: var(--shadow);
   width: 110px;
   margin: 0 auto;
   padding: 8px;
   backdrop-filter: blur(20px);
}

