.aside{
    position:fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-radius: 1x solid black;
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    background-color:aliceblue;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__link{
    font-size: 1.5rem;
    color: var(--title-color);
    font-family: var(--font-bold);
}

.copyright{
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    font-size: var(--small-font-size);
}

.btn__nav{
    margin-left: 110px;
}

.nav__toggle{
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    padding: 10px;
    border: 1px solid #e8dfec;
    transition: 1s;
}
.aside1{
    left: -110px;
    position:fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-radius: 1x solid black;
    padding: 2.5rem;
    width: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    background-color:aliceblue;
}

@media screen and (max-width: 1186px){
    .aside{
        left: -110px;
    }
    .nav__toggle-open{
        left: 120px;
    }
    .nav__toggle{
        display: flex;
    }
}
