.contact{
    min-height: 100vh;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../assets/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.form-label{
    margin: 10px;
    font-size: x-large;
}
.text{
    margin: 50px;
}
.form-label{
    margin: 50px;
}
.form-control{
    margin: 10px;
    background-color: #555964;
}
.btn-danger{
    margin-top: 20px;
}
.container{
   box-shadow: 60px 60px 60px 60px rgba(2, 2, 3, 0.1);
   padding: 40px;
   background-color: transparent;
   filter:blur(4px);
   -o-filter:blur(4px);
   -ms-filter:blur(4px);
   -moz-filter:blur(1.5px);
   -webkit-filter:blur(1.5px);
}
.btn-danger{
    background-color: #555964;
}
.btn-danger:hover{
background-color: #b9a691;
}
.form-control:hover{
    background-color: #b9a691;
}
.container:hover{
    background-color: #39669d transparent;
    filter:blur(1px);
   -webkit-filter:blur(1px);
}

@media screen and (max-width: 922px){
    .container{
        box-shadow: 0;
        filter:blur(0px);
    }
    .contact{
        background-image: url(../../assets/charm.gif);
    }


}