.contact{
    min-height: 100vh;
    background-color:aliceblue;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
    background-image: url(../../assets/b5f6376925f62b96f5d1be0a076442f60cc7f230_hq.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.form-label{
    margin: 10px;
    font-size: x-large;
}
.text{
    margin: 50px;
    margin-top: 20px;
}
.form-label{
    margin: 50px;
}
.form-control{
    margin: 10px;
    background-color: rgba(253,124,49,255);
}
.btn-danger{
    margin-top: 20px;
}
.container{
   box-shadow: 60px 60px 60px 60px rgba(2, 2, 3, 0.1);
   padding: 40px;
   background-color: transparent;
   margin-right: 80px;
   filter:blur(1px);
}
.btn-danger{
    background-color: rgba(253,124,49,255);
}
.btn-danger:hover{
background-color: #b9a691;
}
.form-control:hover{
    background-color: #b9a691;
}
.container:hover{
    background-color: #39669d transparent;
    filter:blur(0);
}

@media screen and (max-width: 530px){
    .container{
        box-shadow: var(--shadow);
        filter: none;
        margin: 0;
        filter:blur(1px);
    }
    .container:hover{
        background-color: #39669d transparent;
        filter:blur(0px);
    }
    .btn-danger{
        background-color: rgba(181,209,101,255);
    }
    .form-control{
        background-color: rgba(181,209,101,255);
    }

}